<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <nav>
    <div class="logo">
      <h1 class = "logotext"> Members Only</h1>
    </div>
    <div class = "links">
      <p>  Wanna know who said that? </p>
        <%= link_to "Sign up", new_user_registration_path, :class => 'linktext' %>
        <p> or </p>
        <%= link_to "Sign In", new_user_session_path, :class => 'linktext'%>

        <% if (user_signed_in? && current_user.member_status == true) %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'linktext'  %>
        <% end %>
      </div>
  </nav>

  <% if (user_signed_in? && current_user.member_status == true) %>
    <div class = "currentuser">
      <h3>Welcome back, <%= current_user.name %>!</h3>
    </div>
  <% end %>
  
    <%= yield %>

  <% if (user_signed_in? && current_user.member_status == true) %>
    <%= link_to "Create a Post", new_post_path, :class => 'sharedlink' %>
  <% end %>
  </body>
</html>
